<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
    <script>
        setTimeout(function () {
            window.location.href = '@Url.Action("Home", "Bear")';
        }, 3000);
    </script>
</head>

<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
    </hgroup>

    <h5>Redirecting to home page in few seconds.....</h5>


  

</body>
</html>
