@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

<style>
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        background-color: #f8f9fa;
        color: #333;
    }

    .container {
        max-width: 800px;
        margin: 50px auto;
    }

    h1 {
        color: #007bff;
        margin-bottom: 30px;
    }

    .section {
        margin-bottom: 30px;
    }

    p {
        line-height: 1.6;
    }

    .highlight {
        background-color: #f1f1f1;
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 20px;
    }

    .contact {
        font-weight: bold;
        color: #007bff;
    }
</style>
<img src="/images/Pharmacy.jpeg" />
<div class="container">
    <h1>Pharmacy</h1>
    <div class="section">
        <div class="highlight">
            <p>
                <strong>Fast Pharmacy Prescriptions</strong><br>
                You won't have to wait long for your prescription to be filled. At Bear Creek Pharmacy, we pride ourselves on fast turnarounds. We have a large hand inventory of medications available. E-scribe is available as well as fax and call-in orders.
            </p>
            <p>
                <strong>Reliable Compounding Services</strong><br>
                If you have specialized medical needs and the one-size-fits-all approach to medicine just doesn't work for you, then talk to us today. Our staff also speaks Spanish and French.
            </p>
            <p>
                Our compounding services allow us to customize your medication to meet your specific needs.
            </p>
        </div>
        <div class="highlight">
            <p>
                <strong>FREE Delivery</strong><br>
                Right now, when you sign up to receive your prescriptions through the mail, you can qualify to receive FREE shipping.
            </p>
            <p>
                Signing up for our mail service enables you to save money and time on refilling your prescriptions.
            </p>
            <p>
                Contact us to enroll. Call us today to schedule your FREE consultation. <span class="contact">817-562-4766</span>
            </p>
            <p>
                Send in your prescription over the phone today for a fast refill. Contact us today!
            </p>
        </div>
    </div>
</div>
